// tem os seletores globais fa aplicaçaõ
*{
    margin: 0px;
padding: 0px;

}
//margens
//vert
.mg-ver-5{ margin: 5px 0px; }
.mg-ver-10{ margin: 10px 0px; }
.mg-ver-15{ margin: 15px 0px; }
.mg-ver-20{ margin: 20px 0px; }
.mg-ver-30{ margin: 30px 0px; }
.mg-ver-40{ margin: 40px 0px; }

//horiz
.mg-hor-5{ margin: 0px 5px; }
.mg-hor-10{ margin: 0px 10px; }
.mg-hor-15{ margin: 0px 15px; }
.mg-hor-20{ margin: 0px 20px; }
.mg-hor-30{ margin: 0px 30px; }
.mg-hor-40{ margin: 0px 40px; }